img{
    display: block;
    width: 100%;
    height:auto;
  }

.name h1{
    font-weight: bold;
}

.card{    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.card .content-overlay {
    background: rgba(0, 0, 0, 0.836);
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    z-index: 2;
  }

.phone-card img{
    left: 20px;
    top: 20px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#008000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.container{
    width: 100%;
    height: 100%;
}

.container h1, h4{
    position: relative;
    padding: 10rem;
    display: inline-block;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: all 300ms ease-in-out;
    z-index: 3;
}

.card img{
    position: relative;
}

.text{
    position: absolute;
}

.card:hover h1{
   opacity: 1;
}

.card:hover h4{
    opacity: 1;
}

.card:hover .content-overlay{
    opacity: 1;
}

.nav-item{
    transition: all .5s ease-in;
}

.nav-link:hover {
    transform: scale(1.1);
}

.navbar a{
color: aliceblue;
}

/* Mobile */
@media only screen and (max-width: 1000px) {

    .card h1{
       font-size: 30px;
    }
    .card h4{
        font-size: 20px;
    }  
   
   }  

@media only screen and (max-width: 768px) {

 .card h1{
    font-size: 20px;
 }
 .card h4{
     font-size: 15px;
  
 }  
 .nav-link:hover {
    transform: translate(10px);
  }
}  

@media only screen and (max-width: 600px) {
    .card h1{
       font-size: 35px;
    }
    .card h4{
        font-size: 18px;
     
    }  
   .row{
       display: grid;
       width: 100%;
       height: auto;
   }
   }  