@import url('http://fonts.cdnfonts.com/css/arcade-classic');


body, html{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background-color: #1d2125;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}

img{
    display: block;
    width: 100%;
    height:auto;
  }

.row{
    
}

.card{    
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.card .content-overlay {
    background: rgba(0, 0, 0, 0.836);
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    z-index: 2;
  }

.phone-card img{
    left: 20px;
    top: 20px;
}

.container{
    width: 100%;
    height: 100%;
}

.container h1, h4{
    position: relative;
    padding: 10rem;
    display: inline-block;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: all 300ms ease-in-out;
    z-index: 3;
}

.card img{
    position: relative;
}

.text{
    position: absolute;
}

.card:hover h1{
   opacity: 1;
}

.card:hover h4{
    opacity: 1;
}

.card:hover .content-overlay{
    opacity: 1;
}

.nav-item{
    transition: all .5s ease-in;
}

.nav-link:hover {
    transform: scale(1.1);
    text-decoration: underline;
    text-decoration-color: rgb(206, 63, 38);
}

.navbar{
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
      color: aliceblue;
      display: flex;
      background-color:#282E34;
      border: 1px solid #a2a2a2;
      -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
      position: sticky;
      top: 0;
      z-index: 5
  }
  
  .navbar a{
      color: aliceblue;
  }

/* Mobile */
@media only screen and (max-width: 1000px) {

    .card h1{
       font-size: 30px;
    }
    .card h4{
        font-size: 20px;
    }  
   
   }  

@media only screen and (max-width: 768px) {

 .card h1{
    font-size: 20px;
 }
 .card h4{
     font-size: 15px;
  
 }  

}  

@media only screen and (max-width: 600px) {
    .card h1{
       font-size: 35px;
    }
    .card h4{
        font-size: 18px;
     
    }  
   .row{
       display: grid;
       width: 100%;
       height: auto;
   }
   }  