
*{
    color:whitesmoke;
}

ul li{
    padding-left: 1rem;
    font-size: 20px;
    list-style-type: none;
}

.nav-item{
    transition: all .5s ease-in;
}

.nfv-link:hover {
    transform: scale(1.1);
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#008000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }

.container{
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: #1d2125;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: inherit;
}

img{
    transition: all .3s ease;
}

img:hover{
    transform: scale(1.5);
}

.container li {
    font-size: medium;
}

h1{
    font-weight: bold;
}

h4{
    font-style: normal;
}

.collapse h1{
   float: right;
}

.school img{
    margin-right: 10px;
    width: 3rem;
    height: auto;   
}

.school{
    align-items: center;
}

.software-logo{
    align-items: center;
}

.software-logo img{
    width: 3rem;
    padding-left: 1rem;
}

.software-logo #figma{
    width: 2.3rem;
}

@media only screen and (max-width: 768px) {
    .software-logo{
        flex-wrap: wrap;
    }
    .container{
        padding: 1%;
        white-space: nowrap;
        word-wrap: break-word;
        flex-wrap: wrap;
    }
    .nav-link:hover {
        transform: translate(10px);
      }
  }  