
body{
  font: 14px/1.4 'Open Sans', arial, sans-serif;
  background: #000;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

button{
  color: white;
}

html{
  overflow-x: hidden; 
}

.navbar .nav-link a{
  padding-left: 2rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#008000' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

hr{
  border-top: 2px solid rgb(206, 63, 38);
  position: relative;
}

ul li{
  padding-left: 1rem;
  font-size: 20px;
  list-style-type: none;
}

.nav-link{
  transition: all .1s ease-in;
}

.nav-link:hover {
  transform: scale(1.1);
}

.navbar{
  margin: 0;
  padding-right: 2rem;
  color: aliceblue;
  display: flex;
  position: relative;
  background-color:#282e34ea;
  border: 1px solid #a2a2a2;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  position: sticky;
  top: 0;
  z-index:3;
}

.navbar a{
    color: aliceblue;
}

.name h1{
  margin: 0;
  padding: 0;
  color: #e1e3e5;
  text-shadow: 5px 0px 10px rgb(206, 46, 18);
  font-weight: bold;
}

.parent {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    border-radius: 1.5rem;
    overflow: hidden;
    transition: transform .5s cubic-bezier(.31,2.71,.8,.9);
    transform-origin: 50% 50%;
}

.parent canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.parent:hover {
transform: scale(1.05);
}

.card {
  padding:0;
  color: aliceblue;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
  z-index:1;
}

.pixelart-bg{
    background-image: url('../images/bg.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.mask{
    padding: 4rem;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #a18cd1;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      45deg,
      rgba(9, 80, 67, 0.6),
      rgba(29, 4, 70, 0.6) 100%
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      45deg,
      rgba(9, 80, 67, 0.6),
      rgba(29, 4, 70, 0.6) 100%
    );
  }

.content{
  color: azure;
  font-family: "Raleway", sans-serif;
  border: 3px solid #a2a2a2;
  justify-content: center;
  position: relative;
  top: 0;
  background-color:#282E34; 
  background-size: cover;
}

.container{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color:#14171a;
  background-size: cover;
  font-size: 3vh;
}

.li{
  font-size: 1.3rem;
}

.top h4{
  text-align: center;
  line-height: 3;
}

.tech-stack .icon-box{
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transition: ease-in-out 0.3s;
}

.tech-stack h4{

  font-weight: 600;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 20px;
  color: #fff;
}

.tech-stack .icon-box h4 {
  padding-right: 5px;
  line-height: 1;
}

.tech-stack i {
  font-size: 32px;
  line-height: 1;
}

.tech-stack .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}


.nav-link:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 4;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  background: rgb(206, 63, 38);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after { 
  width: 100%; 
  left: 0; 
}

@media only screen and (max-width: 1200px) {
  .container{
    
    padding: 1rem;
  }
  
  .nav-link:hover {
    transform: translate(10px);
  }

  .tech-stack .icon-box{
   font-size: 10vh;
   
  }
  .tech-stack i{
    font-size: 20px;
  }
  .tech-stack h4{
    font-size: 16px;
  }
  .tech-stack{
    padding: 0;
    width: 50rem;
  }
  .tech-stack .icon-box{
    padding: 1rem;
    width: 110%;
  }
} 

@media only screen and (max-width: 768px) {
  .nav-link:hover {
    transform: translate(10px);
  }
  .container .tech-stack{
    justify-content: center;
    align-items: center;
    font-size:  30px;
    flex-direction: column;
    margin-left: .1rem;
  }
  .tech-stack i{
    font-size: 32px;
  }
  .tech-stack h4{
    font-size:  20px;
  }
  .tech-stack .icon-box{
    margin-top: 0.7rem;
  }
  .navbar-brand, li{
    padding: 0;
  }
  .tech-stack{
    width: 20rem;
  }
  .tech-stack .icon-box{
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 16rem;
    margin-left: 10px;
  }
  .name h1{
    margin-top: 10px;
    margin-left: 0.5rem;
    font-size: 30px;
  } 
  .nav-link:after {    
    transition: width 0.1s ease 0s, left 0.1s ease 0s;
}
  .nav-link:hover:after { 
    width: 40%; 
    left: 0; 
  }
} 

@media only screen and (max-width: 408px) {
  .container .icon-box{
    margin-left: 1rem;
    width: 12rem;
  }
  .tech-stack .icon-box{
     justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0.7rem;
  }
  .icon-box{
    font-size: 0.2px;
    width: 15rem;
  }
  .name h1{
    display: block;
    font-size: 30px;
  }
  /* Small res gif */
  .pixelart-bg{
    background-image: url('../images/bgsmall.webp');
  }
  .li ul li{
    position: relative;
    margin-left: 10px;
    margin-top: 0.5rem;
    padding: 0;
  }
  .li ul{
   
    display: inline;
  }
}  

@media only screen and (max-width: 300px) {
  .container .icon-box{
    width: 10rem;
  }
  .tech-stack .icon-box{
     justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0.7rem;
  }
  .icon-box{
    font-size: 0.2px;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 15rem;
  }
}  